body {
    background-color: var(--surface-b);
    color: var(--text-color);
    font-family: var(--font-family);
}

.action-buttons {
    margin-top: 0rem;
}

.full-width {
    width:100% !important;
    input{
        width:100% !important;
    }
}

.w-full {
    input{
        width:100% !important;
    }
}

.align-right {
    text-align: right;
}

.align-centre {
    text-align: center;
}

.date-navigation {
    background-color: var(--surface-a);
}

.controls {
    button.p-button {
        @media (max-width: 577px) {
            &.hide-label {
                .p-button-icon-left {
                    margin: 0.15rem 0;
                }

                .p-button-label {
                    display:none;
                }
            }
        }
    }
}

.grid {
    @media (min-width: 577px) {
        .xs-show {
            display:none;
        }
    }
    @media (max-width: 577px) {
        .xs-hide {
            display:none;
        }
    }
}

.title-navigation {
    background-color: var(--surface-b);
    h3 {
        margin: 0;
    }
    margin-bottom: 0.5rem;
}