div.cookie-policy {
    h2, h3, p {
        margin: 0;
    }
    .p-button {
        margin-right: 0.5rem;
    }
    .grid,
    .p-tabview-panel {
        p {
        margin-bottom: 1rem;
        }
    }
}